@font-face {
  font-family: Open Sans;
  src: url(OpenSans/OpenSans-Light.ttf);
}

h1 {font-size: 1rem;}
h2 {font-size: 0.75rem;}
h3 {font-size: 0.875rem;}
h1, h2, h3 {cursor: default;}

html * {
    font-family: Open Sans;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #787878;
    background-image: linear-gradient(to bottom right, #00704A, #00bf80);
}

.card {
    display: flex;
    background: #121212;
    border-radius: 2em;
    overflow: hidden;
}

.left-card {
    width: 50%;
    height: 100%;
    background: #2b2b2b;
    padding: 3em 2em;
    display: flex;
    justify-content: space-between;
}

    .numbers {
        width: 2.25em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
    }

    .number {
        height: 2em;
        width: 2em;
        border-radius: 100vmax;
        box-shadow: 0 0 0 2px white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    .steps {
        height: 100%;
        width: calc(100% - 5em);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .step {
        font-size: 1.5rem;
        height: 2em;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .step + .step {
        margin: 1em 0 0;
    }

.right-card {
    position: relative;
    padding: 3em 2em;
    width: 50%;
    display: flex;
    flex-direction: column;
}

    .field {
        width: 100%;
        margin: 0.5em 0 0;
        padding: 0.5em 1em;
        background: #454545;
        border:  none;
        border-radius: 0.5em;
        font-size: 1rem;
    }

    ::placeholder {
    color: grey;
    }

    .field:focus {
    outline: none;
    }

    .path-container {
        margin:  0.5em 0 0 ;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: right;
        background: #454545;
        border-radius: 0.5em;
    }

    #file-name {
        padding: 0.5em 0 0.5em 1em;
        margin: 0;
        cursor: default;
        width: 100%;
    }

    .file-dialog-box {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 1.75em;
        width: 1.75em;
        margin: 0 1em;
        /*cursor: pointer;*/
        background: #454545;
    }

    #file-dialog-icon {
        position: absolute;
        font-size: 1.75rem;
        font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 48;
        cursor: pointer;
    }

    #file-dialog {
        display: none;
    }

    /*.file {
        position: absolute;
        width: 1.75em;
        height: 1.75em;
        opacity: 0;
    }*/

    #report {
        margin: 2em 0 0;
    }

    .generate-report {
        padding: 0.5em 0;
        background: #00BF80;
        border-radius: 100vmax;
        font-size: 1rem;
        border: 0;
        color: black;
        cursor: pointer;
        position: absolute;
        bottom: 3em;
        width: calc(100% - 4em);
    }